.button {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.root{
    -fx-background-color: transparent;
}

.expression-label {
    -fx-background-color: darkgrey;

}

.tooltip {
    -fx-font-size: 20px;
    -fx-show-delay: 10ms;
    -fx-show-duration: 10000ms;

}
.result-label{
    -fx-background-color: lightgreen;
}

.time-number {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.time-error {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}
.numeric-button{
    -fx-background-color: green;
}
