name: generate sbom

permissions:
  # set default workflow permissions to read-only for security reasons
  contents: read
  
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ master ]

jobs:

  gen-sbom:

    runs-on: ubuntu-latest

    steps:
    - id: checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - id: gensbom
      uses: advanced-security/generate-sbom-action@24dc56d45b6d554028872b732411a7c952079269 # v1

    - id: upload
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      with:
        name: sbom
        path: ${{ steps.gensbom.outputs.fileName }}
