name: generate sbom

permissions:
  # set default workflow permissions to read-only for security reasons
  contents: read
  
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ master ]

jobs:

  gen-sbom:

    runs-on: ubuntu-latest

    steps:
    - id: checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - id: gensbom
      uses: advanced-security/generate-sbom-action@c0a39a4f5ca3e3e32d814bcced3c15c807956873 # v1

    - id: upload
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: sbom
        path: ${{ steps.gensbom.outputs.fileName }}
